<h1> RGB </h1>
<hr>
<div class="row justify-content-center">
  <input type="text" id="red" value="75" data-max="255" class="dial">
  <input type="text" id="green" value="75" data-max="255" class="dial">
  <input type="text" id="blue" value="75" data-max="255" class="dial">
</div>

  <div class="row">
    <div id="color" class="contenedor">
    <p class="text-center" id="elcolorzito"></p>
    </div>
    </div>
  </div>
